.loader-wrapper {
    width: 200px;
    height: 200px;
    margin: auto;
}

.loader {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 10px solid #162534;
    border-top-color: #4bc8eb;
    border-bottom-color: #f13a8f;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
    align-items: center;
    justify-content: center;
    text-align: center;


}

.loader-inner {
    border-top-color: #36f372;
    border-bottom-color: #fff;
    animation-duration: 2.5s;
}

@keyframes rotate {
    0% {
        transform: scale(1) rotate(360deg);
    }

    50% {
        transform: scale(.8) rotate(-360deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}