.service-intro p {
    width: 450px;
    margin-bottom: 20px;
    color: #34495e;
    font-weight: 400;
}

.service-intro h2 {
    color: #3498db;
}

.service-image img {
    width: 500px;
}

@media only screen and (max-width: 575px) {
    .service-image img {
        width: 100%;
    }

    .service-intro p {
        width: 100%;
    }
}