.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    color: white;
    padding: 30px;
    margin-top: 30px;
    bottom: 0;
    width: 100%;

}

.sub_footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}